.body
{
	
	padding-top:1%;

	color:black;
	background-color:#f3f5f0;
	padding-bottom:1%;
	
	
	
}
.auth
{ clear:both;
	background-color:#a8ede6;
}

.open
{

width:2%;
height:2%;
display:none;
margin-left:1%;
margin-top:1%;

}
.router_comp
{
	display:none;
}
