@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&display=swap');

.author
{
	margin-top:2%;

display:block;
width:70%;
height:650%; 
background-color: lightblue;
color:black;
display:block;
width:99%;
padding-left:50%;
margin-top:0%;
padding:1%;
font-size:120%;
float:right   ;
}

.authorimg
{

border-radius:5%;
float:right;

width:15%;
height:15%;




}
.authorwords
{   float:right;
    width:70%;
	margin-top:10%;
	font-family: 'Kaushan Script';
}
